[submodule "riscv-arch-test"]
	path = riscv-arch-test
	url = https://github.com/riscv-non-isa/riscv-arch-test.git
[submodule "riscv-tests"]
	path = riscv-tests
	url = https://github.com/riscv-software-src/riscv-tests.git
[submodule "mini-gdbstub"]
	path = mini-gdbstub
	url = https://github.com/RinHizakura/mini-gdbstub.git
